
.ipynb_checkpoints/Check_real_latency-checkpoint.ipynb
.ipynb_checkpoints/Check_real_latency-checkpoint.ipynb
Check_real_latency.ipynb
.ipynb_checkpoints/Check_real_latency-checkpoint.ipynb
.ipynb_checkpoints/Check_real_latency-checkpoint.ipynb
